.hero8dnr-header26 {
  gap: 32px;
}
 
.hero8dnr-max-width {
  align-self: center;
}
 
.hero8dnr-column {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero8dnr-content {
  gap: 24px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero8dnr-text1 {
  text-align: center;
}
 
.hero8dnr-text2 {
  text-align: center;
}
 
.hero8dnr-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero8dnr-fragment1 {
  display: contents;
}
 
.hero8dnr-text5 {
  display: inline-block;
}
 
.hero8dnr-fragment2 {
  display: contents;
}
 
.hero8dnr-text6 {
  display: inline-block;
}
 
.hero8dnr-fragment3 {
  display: contents;
}
 
.hero8dnr-text7 {
  display: inline-block;
}
 
.hero8dnr-fragment4 {
  display: contents;
}
 
.hero8dnr-text8 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero8dnr-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero8dnr-button1 {
    width: 100%;
  }
  .hero8dnr-button2 {
    width: 100%;
  }
}
