.navbar-dnr-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.navbar-dnr-navlink {
  display: contents;
}
 
.navbar-dnr-image {
  width: auto;
  height: 75px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-dnr-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.navbar-dnr-link1 {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.navbar-dnr-link2 {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.navbar-dnr-link3 {
  text-decoration: none;
}
 
.navbar-dnr-fragment1 {
  display: contents;
}
 
.navbar-dnr-text1 {
  display: inline-block;
}
 
.navbar-dnr-fragment2 {
  display: contents;
}
 
.navbar-dnr-text2 {
  display: inline-block;
}
 
.navbar-dnr-fragment3 {
  display: contents;
}
 
.navbar-dnr-text3 {
  display: inline-block;
}
 

 

 
@media(max-width: 767px) {
  .navbar-dnr-navbar {
    position: relative;
  }
  .navbar-dnr-links-container {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .navbar-dnr-links-container {
    display: flex;
  }
}
