.timeline4dnr-container10 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
 
.timeline4dnr-max-width {
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  animation-name: fadeInLeft;
  flex-direction: row;
  animation-delay: nulls;
  animation-duration: 1.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.timeline4dnr-container11 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.timeline4dnr-text11 {
  text-align: left;
}
 
.timeline4dnr-timeline-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.timeline4dnr-step1 {
  display: flex;
  position: relative;
  justify-content: center;
}
 
.timeline4dnr-container12 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4dnr-container13 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4dnr-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline4dnr-container14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline4dnr-text13 {
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
}
 
.timeline4dnr-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.timeline4dnr-container15 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4dnr-container16 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4dnr-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline4dnr-container17 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline4dnr-text16 {
  font-size: 20px;
  text-align: left;
}
 
.timeline4dnr-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.timeline4dnr-container18 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4dnr-container19 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4dnr-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline4dnr-container20 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline4dnr-text19 {
  font-size: 20px;
  text-align: left;
}
 
.timeline4dnrdot {
  width: auto;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.timeline4dnr-container21 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4dnr-container22 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4dnr-fragment10 {
  display: contents;
}
 
.timeline4dnr-text21 {
  display: inline-block;
}
 
.timeline4dnr-fragment11 {
  display: contents;
}
 
.timeline4dnr-text22 {
  display: inline-block;
}
 
.timeline4dnr-fragment12 {
  display: contents;
}
 
.timeline4dnr-text23 {
  display: inline-block;
}
 
.timeline4dnr-fragment13 {
  display: contents;
}
 
.timeline4dnr-text24 {
  display: inline-block;
}
 
.timeline4dnr-fragment14 {
  display: contents;
}
 
.timeline4dnr-text25 {
  display: inline-block;
}
 
.timeline4dnr-fragment15 {
  display: contents;
}
 
.timeline4dnr-text26 {
  display: inline-block;
}
 
.timeline4dnr-fragment16 {
  display: contents;
}
 
.timeline4dnr-text27 {
  display: inline-block;
}
 
.timeline4dnr-fragment17 {
  display: contents;
}
 
.timeline4dnr-text28 {
  display: inline-block;
}
 
.timeline4dnr-fragment18 {
  display: contents;
}
 
.timeline4dnr-text29 {
  display: inline-block;
}
 
.timeline4dnr-fragment19 {
  display: contents;
}
 
.timeline4dnr-text30 {
  display: inline-block;
}
 
.timeline4dnr-fragment20 {
  display: contents;
}
 
.timeline4dnr-text31 {
  display: inline-block;
}
 
.timeline4dn-rroot-class-name {
  align-self: center;
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
}
 
@media(max-width: 991px) {
  .timeline4dnr-max-width {
    gap: 32px;
  }
  .timeline4dnr-text16 {
    font-size: 20px;
  }
  .timeline4dnr-text25 {
    font-size: 20px;
  }
}
 
@media(max-width: 767px) {
  .timeline4dnr-max-width {
    flex-direction: column;
  }
  .timeline4dnr-text11 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline4dnr-text13 {
    text-align: left;
  }
  .timeline4dnr-text16 {
    text-align: left;
  }
  .timeline4dnr-text19 {
    text-align: left;
  }
}
 
@media(max-width: 479px) {
  .timeline4dnr-container11 {
    gap: var(--dl-layout-space-unit);
  }
  .timeline4dnr-timeline-container {
    width: 100%;
  }
  .timeline4dnr-text15 {
    font-style: italic;
    font-weight: 700;
  }
}
